:root {
  --main-color: #0058a8;
  --text-color: #11006f;
  --second-color: #de616b;
}
.title_page.mb-3 {
  font-size: 1.25rem;
}
.main_cart {
  background: #f0f8ff;
}
.cart_item img {
  width: 75px;
}
.cart_item_nameproduct {
  font-size: 1rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  white-space: unset;
}
.cart_item_variant {
  font-size: 0.8rem;
}
.cart_item_infor {
  width: calc(100% - 200px);
}
.cart_item_price {
  color: #de616b;
  font-size: 1rem;
}
.cart_item_remove {
  border: 1px solid var(--main-color);
  font-size: 0.8rem;
  cursor: pointer;
  padding: 2px 15px;
}
.cart_list {
  background: #fff;
  border: 1px solid #ddd;
}
.cart_item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.main_cart_order {
  background: #fff;
  border: 1px solid #ddd;
}
.product_voucher {
  background: #fff;
  border: 1px dashed var(--main-color);
}
.product_voucher_title img {
  width: 16px;
}
.product_voucher_title {
  background: #c7e4ff;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  top: -15px;
  padding: 1px 10px;
  left: 20px;
}
.product_voucher_title span {
  vertical-align: middle;
  color: var(--main-color);
}
.item_voucher span {
  font-size: 0.9rem;
}
.voucher_copy {
  background: var(--main-color);
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  padding: 2px 10px;
}
.voucher_copy:hover {
  background: var(--second-color);
}
@media (min-width: 1200px) {
  .swiper_voucher {
    height: 100px;
  }
  .product_voucher .swiper-pagination {
    bottom: -5px;
  }
}
.total_cart {
  background: var(--main-color);
  color: #fff;
}
.infor_payment {
  background: #fff;
  border: 1px solid #ddd;
}
form label {
  margin-bottom: 0.5rem;
}
input.item_cart_number_quantity {
  width: calc(100% - 60px);
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
  height: 24px;
}
.cart_summary li {
  margin-bottom: 1rem;
  position: relative;
}
.cart_summary li:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  background-image: url(/image/check-mark.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
}
.cart_item_action {
  width: 95px;
}
.final_price {
  font-size: 1.25rem;
  color: var(--second-color);
}
.order_succsess {
  width: 600px;
  top: 50%;
  margin: 0 auto;
  position: relative;
  transform: translateY(-50%);
}
.box_order_success {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  z-index: 4;
  background: rgba(0, 0, 0, 0.5);
}
.box_order_success img {
  height: 200px;
  width: auto;
}
.order_succsess {
  background: #fff;
}
.information_order table th,
.information_order table td {
  border: 1px solid #000;
  padding: 0.25rem 0.5rem;
}
.information_order table {
  width: 100%;
  border-collapse: collapse;
}
.close_order_success {
  top: 10px;
  line-height: 5px;
  right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background: #e7e7e7;
}
.information_order td:nth-child(1) {
  text-align: left;
}
.close_order span {
  width: 120px;
  height: 36px;
  cursor: pointer;
  line-height: 36px;
  background: var(--main-color);
  border-radius: 30px;
  color: #fff;
}
.show_class {
  display: block;
}
