:root {
  --main-color: #0058a8;
  --text-color: #11006f;
  --second-color: #de616b;
}
.title_page.mb-3 {
  font-size: 1.25rem;
}
.main_cart {
  background: #f0f8ff;
}
.cart_item img {
  width: auto;
  height: 100px;
}
.cart_item_nameproduct {
  font-size: 1rem;
}
.cart_item_variant {
  font-size: 0.8rem;
}
.cart_item_infor {
  width: 78%;
}
.cart_item_price {
  color: #de616b;
  font-size: 1rem;
}
.cart_item_remove {
  border: 1px solid var(--main-color);
  font-size: 0.8rem;
  padding: 2px 15px;
}
.cart_item {
  background: #fff;
}

.product_voucher {
  border: 1px dashed var(--main-color);
}
.product_voucher_title img {
  width: 16px;
}
.product_voucher_title {
  background: #c7e4ff;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  top: -15px;
  padding: 1px 10px;
  left: 20px;
}
.product_voucher_title span {
  vertical-align: middle;
  color: var(--main-color);
}
.item_voucher span {
  font-size: 0.9rem;
}
.voucher_copy {
  background: var(--main-color);
  border-radius: 20px;
  cursor: pointer;
  color: #fff;
  padding: 2px 10px;
}
.voucher_copy:hover {
  background: var(--second-color);
}
@media (min-width: 1200px) {
  .swiper_voucher {
    height: 100px;
  }
  .product_voucher .swiper-pagination {
    bottom: -5px;
  }
}
.total_cart {
  background: var(--main-color);
  color: #fff;
}
